# python数据分析之Panads-1

## 1.1 Panads基本介绍

Python Data Analysis Library 或 Pandas是基于Numpy的一种工具，该工具是为了解决数据分析任务而创建的。Pandas纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的工具。pandas提供了大量能使我们快速便捷地处理数据的函数和方法。

In [1]:
import pandas as pd
import numpy as np

### Pandas 基本数据结构

``pandas``有两种常用的基本结构：
+ ``Series``
    + 一维数组，与Numpy中的一维array类似。二者与Python基本的数据结构List也很接近。Series**能保存不同种数据类型**，字符串、boolean值、数字等都能保存在Series中。
+ ``DataFrame``
    + 二维的表格型数据结构。很多功能与R中的data.frame类似。可以将DataFrame理解为Series的容器。以下的内容主要以DataFrame为主。

## 1.2 Pandas库的series类型

一维``Series``可以用一维列表初始化：

In [3]:
s = pd.Series([1,3,5,np.nan,6,8],index=['a','b','c','d','e','f'])
print(s)

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

默认情况下，``Series``的下标都是数字（可以使用额外参数指定），类型是统一的。

### 索引——数据的行标签

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])
s.index

RangeIndex(start=0, stop=6, step=1)

### 值

In [6]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [7]:
s[3]

nan

切片操作

In [8]:
s[2:5] #左闭右开

2    5.0
3    NaN
4    6.0
dtype: float64

In [9]:
s[::2]

0    1.0
2    5.0
4    6.0
dtype: float64

索引赋值

In [11]:
s.index.name = '索引'
s

索引
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [13]:
s.index = list('fedcba')
s

f    1.0
e    3.0
d    5.0
c    NaN
b    6.0
a    8.0
dtype: float64

In [14]:
s['f':'d':2] #依据自己定义的数据类型进行切片，不是左闭右开了

f    1.0
d    5.0
dtype: float64

## 1.3 Pandas库的DataFrame类型

``DataFrame``则是个二维结构，这里首先构造一组时间序列，作为我们第一维的下标：

In [15]:
date = pd.date_range('20180101',periods=6)
date

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

然后创建一个``DataFrame``结构：

In [22]:
df = pd.DataFrame(np.random.random((6,4)),index=date,columns=list('ABCD'))
df

                   A         B         C         D
2018-01-01  0.058976  0.391056  0.488605  0.463285
2018-01-02  0.440592  0.329873  0.565060  0.331239
2018-01-03  0.182247  0.558740  0.044511  0.368283
2018-01-04  0.842161  0.470349  0.815397  0.447658
2018-01-05  0.294157  0.982428  0.602080  0.755514
2018-01-06  0.621586  0.935915  0.098515  0.225842

默认情况下，如果不指定``index``参数和``columns``，那么它们的值将从用0开始的数字替代。

In [21]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0  0.641859 -0.994723  0.483787  0.079146
1  0.476015  0.994810 -0.704470 -0.556795
2 -0.540323 -0.034451  1.221150  0.844567
3  0.636267  1.396454 -1.413619 -0.916197
4  1.711151 -0.478121 -1.616946  0.631731
5 -0.145195  1.687418  0.589970 -0.564777

除了向``DataFrame``中传入二维数组，我们也可以使用字典传入数据：

In [24]:
dict = {
    'A':1.,
    'B':pd.Timestamp('20181001'),
    'C':pd.Series(1,index=range(4),dtype=float),
    'D':np.array([3]*4,dtype=int),
    'E':pd.Categorical(["test","train","test","train"]),
    'F':'abc'
}
df2 = pd.DataFrame(dict)
df2

     A          B    C  D      E    F
0  1.0 2018-10-01  1.0  3   test  abc
1  1.0 2018-10-01  1.0  3  train  abc
2  1.0 2018-10-01  1.0  3   test  abc
3  1.0 2018-10-01  1.0  3  train  abc

In [29]:
df2.dtypes #查看各个列的数据类型

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

字典的每个``key``代表一列，其``value``可以是各种能够转化为``Series``的对象。

与``Series``要求所有的类型都一致不同，``DataFrame``只要求每一列数据的格式相同。

### 查看数据

#### 头尾数据

``head``和``tail``方法可以分别查看最前面几行和最后面几行的数据（默认为5）：

In [26]:
df.head(5)

                   A         B         C         D
2018-01-01  0.058976  0.391056  0.488605  0.463285
2018-01-02  0.440592  0.329873  0.565060  0.331239
2018-01-03  0.182247  0.558740  0.044511  0.368283
2018-01-04  0.842161  0.470349  0.815397  0.447658
2018-01-05  0.294157  0.982428  0.602080  0.755514

最后3行：

In [27]:
df.tail(3)

                   A         B         C         D
2018-01-04  0.842161  0.470349  0.815397  0.447658
2018-01-05  0.294157  0.982428  0.602080  0.755514
2018-01-06  0.621586  0.935915  0.098515  0.225842

### 下标，列标，数据

下标使用``index``属性查看：

In [30]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

列标使用``columns``属性查看：

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

数据值使用``values``查看：

In [21]:
df.values

array([[ 0.39194344, -1.25284255, -0.24764423, -0.32019526],
       [ 0.84548738,  0.20806449, -0.06983781,  0.13716277],
       [ 0.7767544 , -2.21517465, -1.11637102,  1.76383631],
       [ 0.01603994,  2.00619213,  0.22720908,  1.78369472],
       [-0.00621932,  0.59214148,  0.46235154,  0.99392424],
       [ 1.11272049, -0.22366925,  0.08422338, -0.5508679 ]])

## 1.4 pandas读取数据及数据操作

我们将以豆瓣的电影数据作为我们深入了解Pandas的一个示例。

In [38]:
import os
os.path.abspath("豆瓣电影数据.xlsx")

'd:\\Desktop\\PythonDataAnalyze\\Blakcteaxx\\豆瓣电影数据.xlsx'

In [59]:
df = pd.read_excel(r"D:\Desktop\PythonDataAnalyze\练习题\作业3\豆瓣电影数据.xlsx",index_col = 0) 
#csv:read_csv;绝对路径或相对路径默认在当前文件夹下。r告诉编译器不需要转义
#具体其它参数可以去查帮助文档 ?pd.read_excel

In [39]:
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

### 行操作

In [40]:
df.iloc[0]

名字                   肖申克的救赎
投票人数               692795.0
类型                    剧情/犯罪
产地                       美国
上映时间    1994-09-10 00:00:00
时长                      142
年代                     1994
评分                      9.6
首映地点                 多伦多电影节
Name: 0, dtype: object

In [41]:
df.iloc[0:5] #左闭右开

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

也可以使用loc

In [38]:
df.loc[0:5] #不是左闭右开

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

####  添加一行

In [89]:
dit = {
    "名字":"复仇者联盟3",
    "投票人数":123456,
    "类型":"剧情/科幻",
    "产地":"美国",
    "上映时间":"2018-05-04 00:00:00",
    "时长":142,
    "年代":2018,
    "评分":np.nan,
    "首映地点":"美国"
}
s = pd.Series(dit)
s.name = 38738

In [60]:
s

名字                   复仇者联盟3
投票人数                 123456
类型                    剧情/科幻
产地                       美国
上映时间    2018-05-04 00:00:00
时长                      142
年代                     2018
评分                      NaN
首映地点                     美国
Name: 38738, dtype: object

In [90]:
df = df.append(s)
df
# k = pd.concat([df,s],axis=0)
# k.tail()

C:\Users\86139\AppData\Local\Temp\ipykernel_19580\2082269074.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(s)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
...,...,...,...,...,...,...,...,...,...
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,NaN,美国

#### 删除一行

In [67]:
df = df.drop([38738])
df[-5:]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

### 列操作

In [68]:
df.columns

Index(['名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分', '首映地点'], dtype='object')

In [70]:
df['名字'][:5]

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [72]:
df[['名字','类型']][:5]

       名字        类型
0  肖申克的救赎     剧情/犯罪
1    控方证人  剧情/悬疑/犯罪
2   美丽人生   剧情/喜剧/爱情
3    阿甘正传     剧情/爱情
4    霸王别姬  剧情/爱情/同性

#### 增加一列

In [73]:
df['MID'] = range(1,(len(df)+1))
df

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,MID
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5
...,...,...,...,...,...,...,...,...,...,...
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国,38734
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国,38735
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国,38736
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国,38737
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国,38738

#### 删除一列

In [75]:
df = df.drop('MID',axis=1)
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

#### 通过标签选择数据
``df.loc[[index],[colunm]]``通过标签选择数据

In [76]:
df.loc[[1],['名字']]

     名字
1  控方证人

In [77]:
df.loc[[1,3,5,7,9],['名字','评分']]

                                      名字   评分
1                                   控方证人  9.5
3                                   阿甘正传  9.4
5                                 泰坦尼克号   9.4
7  新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai  9.4
9                               这个杀手不太冷   9.4

### 条件选择

#### 选取产地为美国的所有电影

In [79]:
df[df['产地'] == '美国']

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
...,...,...,...,...,...,...,...,...,...
38724,跷家的一夜,82.0,喜剧/动作/惊悚/冒险,美国,1987-07-01 00:00:00,102,1987,7.8,美国
38726,零下的激情,199.0,剧情/爱情/犯罪,美国,1987-11-06 00:00:00,98,1987,7.4,美国
38728,离别秋波,240.0,剧情/爱情/音乐,美国,1986-02-19 00:00:00,90,1986,8.2,美国
38732,极乐森林,45.0,纪录片,美国,1986-09-14 00:00:00,90,1986,8.1,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国

#### 选取产地为美国的所有电影，并且评分大于9分的电影

In [80]:
df[(df['产地'] == '美国') & (df['评分'] > 9)]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
...,...,...,...,...,...,...,...,...,...
37951,欢乐树的朋友们：赶尽杀绝,4151.0,喜剧/动画,美国,2005-11-28 00:00:00,84,2005,9.2,美国
38119,山那边,70.0,剧情,美国,1975-11-14 00:00:00,103,1975,9.1,美国
38452,奎,62.0,纪录片/短片,美国,2015-08-19 00:00:00,9,2015,9.1,纽约电影论坛
38465,十二怒汉,466.0,剧情/悬疑/犯罪,美国,1954-09-20 00:00:00,52,1954,9.3,美国
38690,周六夜现场,193.0,喜剧/音乐,美国,2003-10-11 00:00:00,90,2003,9.4,美国

#### 选取产地为美国或中国大陆的所有电影，并且评分大于9分

In [81]:
df[((df["产地"] == "美国") | (df['产地'] == "中国大陆")) & (df.评分 > 9)][:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

## 1.5 缺失值及异常值处理

### 缺失值处理方法：
|**方法**|**说明**|
|-:|-:|
|**dropna**|根据标签中的缺失值进行过滤，删除缺失值|
|**fillna**|对缺失值进行填充|
|**isnull**|返回一个布尔值对象，判断哪些值是缺失值|
|**notnull**|isnull的否定式|

### 判断缺失值

In [84]:
df[df['名字'].isnull()]

        名字    投票人数        类型  产地                 上映时间   时长    年代   评分 首映地点
231    NaN   144.0    纪录片/音乐  韩国  2011-02-02 00:00:00   90  2011  9.7   美国
361    NaN    80.0        短片  其他  1905-05-17 00:00:00    4  1964  5.7   美国
369    NaN  5315.0        剧情  日本  2004-07-10 00:00:00  111  2004  7.5   日本
372    NaN   263.0     短片/音乐  英国  1998-06-30 00:00:00   34  1998  9.2   美国
374    NaN    47.0        短片  其他  1905-05-17 00:00:00    3  1964  6.7   美国
...    ...     ...       ...  ..                  ...  ...   ...  ...  ...
38523  NaN  2190.0  动作/恐怖/战争  日本  1905-06-27 00:00:00   85  2005  7.0   美国
38555  NaN    32.0       纪录片  美国  1905-06-19 00:00:00   88  1997  8.1   美国
38560  NaN    49.0    纪录片/音乐  美国  2004-09-25 00:00:00  107  2004  8.4   美国
38643  NaN    62.0        恐怖  美国  2003-12-30 00:00:00   90  2003  5.2   美国
38656  NaN    54.0     喜剧/恐怖  其他  2004-01-29 00:00:00   30  2004  8.7   美国

[560 rows x 9 columns]

In [92]:
df[df['评分'].isnull()]

           名字      投票人数     类型  产地                 上映时间   时长    年代  评分 首映地点
38738  复仇者联盟3  123456.0  剧情/科幻  美国  2018-05-04 00:00:00  142  2018 NaN   美国

### 填充缺失值

In [94]:
df['评分'].fillna(np.mean(df['评分']),inplace=True) # inplace指作用在df上

In [95]:
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,6.935704,美国

In [96]:
df1 = df.fillna("未知电影")

In [97]:
df1[df1['名字'].isnull()]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

### 删除缺失值

```python
df.dropna() 参数

how = 'all':删除全为空值的行或列
inplace = True: 覆盖之前的数据
axis = 0: 选择行或列，默认是行
```

In [98]:
len(df)

38739

In [99]:
df2 = df.dropna()

In [100]:
len(df2)

38176

In [101]:
df.dropna(inplace=True)

In [103]:
len(df)

38176

### 处理异常值

异常值，即在数据集中存在不合理的值，又称离群点。比如年龄为-1，笔记本电脑重量为1吨等，都属于异常值的范围。

In [104]:
df[df['投票人数'] < 0]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19777,皇家大贼 皇家大,-80.0,剧情/犯罪,中国香港,1985-05-31 00:00:00,60,1985,6.3,美国
19786,日本的垃圾去中国大陆 にっぽんの“ゴミ” 大陆へ渡る ～中国式リサイクル錬,-80.0,纪录片,日本,1905-06-26 00:00:00,60,2004,7.9,美国
19797,女教徒,-118.0,剧情,法国,1966-05-06 00:00:00,135,1966,7.8,美国

In [105]:
df[df['投票人数'] % 1 != 0]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19791,女教师 女教,8.30,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
19804,女郎漫游仙境 ドレミファ娘の血は騒,5.90,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本
19820,女仆日记,12.87,剧情,法国,2015-04-01 00:00:00,96,2015,5.7,法国
38055,逃出亚卡拉,12.87,剧情/动作/惊悚/犯罪,美国,1979-09-20 00:00:00,112,1979,7.8,美国

**对于异常值，一般来说数量都会很少，在不影响整体数据分布的情况下，我们直接删除就可以了**

**其他属性的异常值处理，我们会在格式转换部分，进一步讨论**

In [106]:
df = df[df['投票人数'] > 0]
df = df[df['投票人数'] % 1 == 0]

## 1.6 数据保存

### 数据处理之后，然后将数据重新保存到movie_data.xlsx

In [107]:
df.to_excel("movie_data.xlsx")