# 第五次课作业

In [1]:
import numpy as np
import pandas as pd

（1）读取数据。读取之前作业保存的“酒店数据1.xlsx”

In [12]:
df = pd.read_excel("酒店数据1.xlsx",index_col=0)
df.head()

,ID,名字,类型,城市,地区,地点,评分,评分人数,价格
1,0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604,422
2,1,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708,693
3,2,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747
4,3,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014,693
5,4,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427,581

（2）将“类型”和“名字”设置为层次化索引，并交换索引的位置。然后将层次化索引取消。

In [13]:
df = df.set_index(["类型","名字"])
df

                                                        ID  城市   地区  \
类型   名字
休闲度假 香港嘉湖海逸酒店(Harbour Plaza Resort City)                 0  香港   元朗
浪漫情侣 香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)      1  香港   东区
商务出行 香港碧荟酒店(The BEACON)                                  2  香港  油尖旺
浪漫情侣 香港湾仔帝盛酒店(Dorsett Wanchai)                           3  香港   湾仔
     如心艾朗酒店(L‘hotel elan)                                4  香港   观塘
...                                                    ...  ..  ...
地铁周边 香港金泉酒店                                            414  香港   其它
     香港天天宾馆(TIN TIN GUEST HOUSE)                       415  香港  油尖旺
海滨风光 香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)  417  香港   荃湾
     香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)  418  香港   荃湾
地铁周边 香港花盈酒店(家庭旅馆)(Bloomy Hotel)                        419  香港  油尖旺

                                                                         地点  \
类型   名字
休闲度假 香港嘉湖海逸酒店(Harbour Plaza Resort City)                         天水围 天恩路18号
浪漫情侣 香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)                铜锣湾永兴街8号
商务出行 香港碧荟酒店(The BEACON)                                          九龙旺角洗衣街88号
浪漫情侣 香港湾仔帝盛酒店(Dorsett Wanchai)                                皇后大道东387-397号
     如心艾朗酒店(L‘hotel elan)                                          观塘创业街38号
...                                                                     ...
地铁周边 香港金泉酒店                                            香港旺角弥敦道607号新兴大厦1407室
     香港天天宾馆(TIN TIN GUEST HOUSE)                         旺角弥敦道607号新兴大厦1517A
海滨风光 香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)              荃湾 杨屋道8号
     香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)              荃湾 杨屋道8号
地铁周边 香港花盈酒店(家庭旅馆)(Bloomy Hotel)                         尖沙咀弥敦道87号华源大厦9字楼C2室

                                                             评分   评分人数   价格
类型   名字
休闲度假 香港嘉湖海逸酒店(Harbour Plaza Resort City)               4.600000  17604  422
浪漫情侣 香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)    4.500000  12708  693
商务出行 香港碧荟酒店(The BEACON)                                4.700000    328  747
浪漫情侣 香港湾仔帝盛酒店(Dorsett Wanchai)                         4.400000   5014  693
     如心艾朗酒店(L‘hotel elan)                              4.600000   3427  581
...                                                         ...    ...  ...
地铁周边 香港金泉酒店                                            4.283827     16  245
     香港天天宾馆(TIN TIN GUEST HOUSE)                       3.200000     16  227
海滨风光 香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)  4.500000  45462  709
     香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)  4.500000  45463  709
地铁周边 香港花盈酒店(家庭旅馆)(Bloomy Hotel)                        4.000000    273  256

[397 rows x 7 columns]

In [14]:
df = df.swaplevel('类型','名字')
df

                                                        ID  城市   地区  \
名字                                               类型
香港嘉湖海逸酒店(Harbour Plaza Resort City)              休闲度假    0  香港   元朗
香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)   浪漫情侣    1  香港   东区
香港碧荟酒店(The BEACON)                               商务出行    2  香港  油尖旺
香港湾仔帝盛酒店(Dorsett Wanchai)                        浪漫情侣    3  香港   湾仔
如心艾朗酒店(L‘hotel elan)                             浪漫情侣    4  香港   观塘
...                                                    ...  ..  ...
香港金泉酒店                                           地铁周边  414  香港   其它
香港天天宾馆(TIN TIN GUEST HOUSE)                      地铁周边  415  香港  油尖旺
香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre) 海滨风光  417  香港   荃湾
                                                 海滨风光  418  香港   荃湾
香港花盈酒店(家庭旅馆)(Bloomy Hotel)                       地铁周边  419  香港  油尖旺

                                                                         地点  \
名字                                               类型
香港嘉湖海逸酒店(Harbour Plaza Resort City)              休闲度假            天水围 天恩路18号
香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)   浪漫情侣              铜锣湾永兴街8号
香港碧荟酒店(The BEACON)                               商务出行            九龙旺角洗衣街88号
香港湾仔帝盛酒店(Dorsett Wanchai)                        浪漫情侣         皇后大道东387-397号
如心艾朗酒店(L‘hotel elan)                             浪漫情侣              观塘创业街38号
...                                                                     ...
香港金泉酒店                                           地铁周边  香港旺角弥敦道607号新兴大厦1407室
香港天天宾馆(TIN TIN GUEST HOUSE)                      地铁周边    旺角弥敦道607号新兴大厦1517A
香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre) 海滨风光              荃湾 杨屋道8号
                                                 海滨风光              荃湾 杨屋道8号
香港花盈酒店(家庭旅馆)(Bloomy Hotel)                       地铁周边   尖沙咀弥敦道87号华源大厦9字楼C2室

                                                             评分   评分人数   价格
名字                                               类型
香港嘉湖海逸酒店(Harbour Plaza Resort City)              休闲度假  4.600000  17604  422
香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)   浪漫情侣  4.500000  12708  693
香港碧荟酒店(The BEACON)                               商务出行  4.700000    328  747
香港湾仔帝盛酒店(Dorsett Wanchai)                        浪漫情侣  4.400000   5014  693
如心艾朗酒店(L‘hotel elan)                             浪漫情侣  4.600000   3427  581
...                                                         ...    ...  ...
香港金泉酒店                                           地铁周边  4.283827     16  245
香港天天宾馆(TIN TIN GUEST HOUSE)                      地铁周边  3.200000     16  227
香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre) 海滨风光  4.500000  45462  709
                                                 海滨风光  4.500000  45463  709
香港花盈酒店(家庭旅馆)(Bloomy Hotel)                       地铁周边  4.000000    273  256

[397 rows x 7 columns]

In [15]:
df = df.reset_index()
df

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格
0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,0,香港,元朗,天水围 天恩路18号,4.600000,17604,422
1,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,1,香港,东区,铜锣湾永兴街8号,4.500000,12708,693
2,香港碧荟酒店(The BEACON),商务出行,2,香港,油尖旺,九龙旺角洗衣街88号,4.700000,328,747
3,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,3,香港,湾仔,皇后大道东387-397号,4.400000,5014,693
4,如心艾朗酒店(L‘hotel elan),浪漫情侣,4,香港,观塘,观塘创业街38号,4.600000,3427,581
...,...,...,...,...,...,...,...,...,...
392,香港金泉酒店,地铁周边,414,香港,其它,香港旺角弥敦道607号新兴大厦1407室,4.283827,16,245
393,香港天天宾馆(TIN TIN GUEST HOUSE),地铁周边,415,香港,油尖旺,旺角弥敦道607号新兴大厦1517A,3.200000,16,227
394,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,417,香港,荃湾,荃湾 杨屋道8号,4.500000,45462,709
395,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,418,香港,荃湾,荃湾 杨屋道8号,4.500000,45463,709
396,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,419,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.000000,273,256

（3）将数据集转置，获取转制后的index和columns。

In [16]:
temp = df.transpose()
temp.index

Index(['名字', '类型', 'ID', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')

In [17]:
temp.columns

RangeIndex(start=0, stop=397, step=1)

（4）用Groupby方法来计算每个地区的评分人数的总和以及均值。

In [19]:
df['评分人数'].groupby(by = df['地区']).sum()

地区
东区       56643
中西区      59682
九龙城      49855
元朗       18804
其它       16831
南区       12867
屯门        7324
沙田       39622
油尖旺     422574
深水埗区        16
湾仔      107344
离岛       60359
罗湖区         24
荃湾      114610
葵青       11544
观塘       19137
Name: 评分人数, dtype: int64

In [20]:
df['评分人数'].groupby(by = df['地区']).mean()

地区
东区       3540.187500
中西区      1808.545455
九龙城      2374.047619
元朗       9402.000000
其它        300.553571
南区       2573.400000
屯门       3662.000000
沙田       9905.500000
油尖旺      2284.183784
深水埗区       16.000000
湾仔       2618.146341
离岛       5487.181818
罗湖区        24.000000
荃湾      16372.857143
葵青       2308.800000
观塘       2733.857143
Name: 评分人数, dtype: float64

（5）用Grouby方法计算每个类型的平均价格，最高价和最低价。

In [21]:
df['价格'].groupby(by = df['类型']).mean()

类型
交通方便      421.000000
亲子酒店      745.400000
休闲度假     1127.774194
其他        269.300000
印象好       297.000000
商务出行     1045.153846
地铁周边      374.139535
大学周边      325.000000
客栈        397.666667
干净卫生      185.000000
民宿        258.500000
浪漫情侣      608.573529
海滨风光     1543.573770
火车站周边     968.000000
环境不错      357.666667
老板热情      385.000000
酒店公寓     1182.000000
青年旅舍      189.250000
Name: 价格, dtype: float64

In [22]:
df['价格'].groupby(by = df['类型']).max()

类型
交通方便       421
亲子酒店      1686
休闲度假      4443
其他         881
印象好        297
商务出行      3159
地铁周边      2640
大学周边       325
客栈         553
干净卫生       185
民宿         506
浪漫情侣      1908
海滨风光     12926
火车站周边      968
环境不错       484
老板热情       385
酒店公寓      2309
青年旅舍       348
Name: 价格, dtype: int64

In [23]:
df['价格'].groupby(by = df['类型']).min()

类型
交通方便     421
亲子酒店     269
休闲度假     358
其他        67
印象好      297
商务出行     401
地铁周边      67
大学周边     325
客栈       245
干净卫生     185
民宿       157
浪漫情侣     225
海滨风光     331
火车站周边    968
环境不错     176
老板热情     385
酒店公寓     588
青年旅舍      70
Name: 价格, dtype: int64

（6）数据离散化，按照价格将酒店分为3个等级,0-500为C，500-1000为B,大于1000为A，列名设置为“价格等级”。

In [27]:
df['价格等级'] = pd.cut(df['价格'],bins=[0,500,1000,df['价格'].max()],labels=['C','B','A'])
df.head()

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格,价格等级
0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,0,香港,元朗,天水围 天恩路18号,4.6,17604,422,C
1,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,1,香港,东区,铜锣湾永兴街8号,4.5,12708,693,B
2,香港碧荟酒店(The BEACON),商务出行,2,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747,B
3,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,3,香港,湾仔,皇后大道东387-397号,4.4,5014,693,B
4,如心艾朗酒店(L‘hotel elan),浪漫情侣,4,香港,观塘,观塘创业街38号,4.6,3427,581,B

（7）获取评分均值最高和最低的地区的数据，分别使用append和concat方法将获取的两个数据集合并。

In [28]:
df.groupby(by=df['地区']).mean().sort_values(by='评分')

              ID        评分          评分人数           价格
地区
葵青    174.800000  4.040000   2308.800000   342.200000
其它    283.035714  4.184376    300.553571   276.125000
油尖旺   216.837838  4.194714   2284.183784   544.362162
南区    191.400000  4.220000   2573.400000   364.200000
罗湖区   410.000000  4.283827     24.000000   506.000000
深水埗区  317.000000  4.300000     16.000000   648.000000
离岛    169.636364  4.371257   5487.181818  1033.363636
湾仔    151.121951  4.375610   2618.146341   829.243902
九龙城   171.714286  4.428571   2374.047619   640.476190
荃湾    154.857143  4.442857  16372.857143   480.428571
东区    133.562500  4.480239   3540.187500   759.937500
观塘    116.000000  4.500000   2733.857143   661.428571
中西区   139.454545  4.548485   1808.545455  1978.121212
元朗     75.000000  4.550000   9402.000000   423.500000
沙田    122.500000  4.575000   9905.500000   848.000000
屯门     97.000000  4.600000   3662.000000   639.000000

In [29]:
temp1 = df[df['地区'] == '葵青']
temp2 = df[df['地区'] == '屯门']
temp1.append(temp2)

C:\Users\86139\AppData\Local\Temp\ipykernel_48676\2923033550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp1.append(temp2)

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格,价格等级
43,香港荃湾旭逸酒店(Hotel Ease Tsuen Wan),浪漫情侣,43,香港,葵青,葵涌圳边街15-19号,4.4,598,394,C
200,香港永倫800酒店(WINLAND800HOTEL),其他,200,香港,葵青,新界青衣路一号,3.4,3098,196,C
201,香港青逸酒店(Rambler Oasis Hotel),浪漫情侣,201,香港,葵青,青衣路1号,4.0,3091,349,C
214,香港华逸酒店(Rambler Garden Hotel),浪漫情侣,214,香港,葵青,青衣 青衣路1号,4.0,3031,349,C
216,香港文化旅馆-翠雅山房(Hong Kong Heritage Lodge),浪漫情侣,216,香港,葵青,香港九龙青山道800号,4.4,1726,423,C
25,香港黄金海岸酒店(Hong Kong Gold Coast Hotel),海滨风光,25,香港,屯门,屯门 黄金海岸青山公路1号,4.7,6326,696,B
169,香港屯门贝尔特酒店(pentahotel Hong Kong Tuen Mun),浪漫情侣,169,香港,屯门,新界屯门震寰路六号,4.5,998,582,B

In [30]:
pd.concat([temp1,temp2],axis=0)

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格,价格等级
43,香港荃湾旭逸酒店(Hotel Ease Tsuen Wan),浪漫情侣,43,香港,葵青,葵涌圳边街15-19号,4.4,598,394,C
200,香港永倫800酒店(WINLAND800HOTEL),其他,200,香港,葵青,新界青衣路一号,3.4,3098,196,C
201,香港青逸酒店(Rambler Oasis Hotel),浪漫情侣,201,香港,葵青,青衣路1号,4.0,3091,349,C
214,香港华逸酒店(Rambler Garden Hotel),浪漫情侣,214,香港,葵青,青衣 青衣路1号,4.0,3031,349,C
216,香港文化旅馆-翠雅山房(Hong Kong Heritage Lodge),浪漫情侣,216,香港,葵青,香港九龙青山道800号,4.4,1726,423,C
25,香港黄金海岸酒店(Hong Kong Gold Coast Hotel),海滨风光,25,香港,屯门,屯门 黄金海岸青山公路1号,4.7,6326,696,B
169,香港屯门贝尔特酒店(pentahotel Hong Kong Tuen Mun),浪漫情侣,169,香港,屯门,新界屯门震寰路六号,4.5,998,582,B

（8）数据离散化，按照评分人数将酒店平均分为3个等级，三个等级的酒店数量尽量保持一致。评分人数最多的为A，最少的为C。列名设置为“热门等级”。

In [31]:
bins = np.percentile(df['评分人数'],[0,33,66,100])
df['热门等级'] = pd.cut(df['评分人数'], bins=bins, labels=['C','B','A'])
df.head()

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格,价格等级,热门等级
0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,0,香港,元朗,天水围 天恩路18号,4.6,17604,422,C,A
1,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,1,香港,东区,铜锣湾永兴街8号,4.5,12708,693,B,A
2,香港碧荟酒店(The BEACON),商务出行,2,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747,B,B
3,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,3,香港,湾仔,皇后大道东387-397号,4.4,5014,693,B,A
4,如心艾朗酒店(L‘hotel elan),浪漫情侣,4,香港,观塘,观塘创业街38号,4.6,3427,581,B,A

（9）选出评分人数为A，价格也为A的酒店数据，计算其平均评分。

In [33]:
df[(df['热门等级'] == 'A') & (df['价格等级'] == 'A')].head()

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格,价格等级,热门等级
6,海景嘉福洲际酒店(InterContinental Grand Stanford Hong ...,海滨风光,6,香港,油尖旺,尖沙咀東部麽地道70号,4.7,4366,1296,A,A
7,香港怡东酒店(Excelsior Hotel),海滨风光,7,香港,湾仔,铜锣湾告士打道281号,4.6,6961,1184,A,A
9,港岛香格里拉大酒店(Island Shangri-La),海滨风光,9,香港,中西区,金钟中区法院道太古广场,4.8,4182,2836,A,A
11,香港铜锣湾皇冠假日酒店(Crowne Plaza Hong Kong Causeway Bay),休闲度假,11,香港,湾仔,铜锣湾礼顿道八号,4.7,4446,1633,A,A
14,香港朗廷酒店(The Langham Hong Kong),休闲度假,14,香港,油尖旺,尖沙嘴北京道8号,4.7,11039,1899,A,A

In [34]:
df[(df['热门等级'] == 'A') & (df['价格等级'] == 'A')]['评分'].mean()

4.6599999999999975

（10）取价格最高的5个酒店的数据，使用stack和unstack方法实现dataframe和Series之间的转换。

In [37]:
df.sort_values(by='价格',ascending=False)[:5].stack()
df.sort_values(by='价格',ascending=False)[:5].stack().unstack()

,名字,类型,ID,城市,地区,地点,评分,评分人数,价格,价格等级,热门等级
117,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,117,香港,中西区,中环 金融街8号,4.8,3461,12926,A,A
116,香港置地文华东方酒店(The Landmark Mandarin Oriental HK),休闲度假,116,香港,中西区,中环 皇后大道中15号置地广场,4.8,1285,4443,A,B
89,奕居(The Upper House),海滨风光,89,香港,中西区,金钟道88号太古广场,4.8,1369,4356,A,B
83,香港半岛酒店(The Peninsula Hong Kong),海滨风光,83,香港,油尖旺,尖沙咀梳士巴利道,4.8,3693,3862,A,A
19,香港文华东方酒店(Mandarin Oriental Hong Kong),海滨风光,19,香港,中西区,中环干诺道中5号,4.8,2452,3609,A,A

（11）纵向拆分数据集，分为df1和df2，df1包含名字，类型，城市，地区，df2包含名字，地点，评分，评分人数，价格，价格等级，热门等级。

In [41]:
df1 = df[['名字','类型','城市','地区']]
df2 = df[['名字','地点','评分','评分人数','价格','价格等级','热门等级']]

（12）将df2按照价格进行排序，重新设置df2的索引。索引值等于价格排名。

In [42]:
df2 = df2.sort_values(by='价格',ascending=False)
df2.index = range(len(df2))
df2

,名字,地点,评分,评分人数,价格,价格等级,热门等级
0,香港四季酒店(Four Seasons Hotel Hong Kong),中环 金融街8号,4.8,3461,12926,A,A
1,香港置地文华东方酒店(The Landmark Mandarin Oriental HK),中环 皇后大道中15号置地广场,4.8,1285,4443,A,B
2,奕居(The Upper House),金钟道88号太古广场,4.8,1369,4356,A,B
3,香港半岛酒店(The Peninsula Hong Kong),尖沙咀梳士巴利道,4.8,3693,3862,A,A
4,香港文华东方酒店(Mandarin Oriental Hong Kong),中环干诺道中5号,4.8,2452,3609,A,A
...,...,...,...,...,...,...,...
392,香港加尔文青年旅舍(HK HOSTEL),佐敦道13-15号华丰大厦7楼A室,4.2,1480,70,C,B
393,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36,70,C,C
394,香港日夜宾馆(Day and Night Hostel),"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",3.3,63,68,C,C
395,"巴黎旅馆(Paris Guest House (D2, 10/F))","Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67,C,C
396,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67,C,C

（13）使用merge方法将df1和df2合并。

In [44]:
df3 = pd.merge(df1, df2, how="inner", on='名字')
df3

,名字,类型,城市,地区,地点,评分,评分人数,价格,价格等级,热门等级
0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604,422,C,A
1,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708,693,B,A
2,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747,B,B
3,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014,693,B,A
4,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427,581,B,A
...,...,...,...,...,...,...,...,...,...,...
394,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462,709,B,A
395,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463,709,B,A
396,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462,709,B,A
397,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463,709,B,A
398,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.0,273,256,C,B

（14）将合并后的数据集保存数据到“酒店数据2.xlsx”。

In [ ]:
df3.to_excel("酒店数据2.xlsx")